In [33]:
import re
import pandas as pd
import heapq
from IPython.display import clear_output

import nltk

# import lemmetizer modules
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

# get set of stopwords
from nltk.corpus import stopwords

In [2]:
# importing train dataset into a dataframe

trainDataset = pd.read_csv("Dataset/train.csv")["text"]
trainDataset.head()

0    House Dem Aide: We Didn’t Even See Comey’s Let...
1    Ever get the feeling your life circles the rou...
2    Why the Truth Might Get You Fired October 29, ...
3    Videos 15 Civilians Killed In Single US Airstr...
4    Print \nAn Iranian woman has been sentenced to...
Name: text, dtype: object

In [3]:
# importing test dataset into a dataframe

testDataset = pd.read_csv("Dataset/test.csv")["text"]
testDataset.head()

0    PALO ALTO, Calif.  —   After years of scorning...
1    Russian warships ready to strike terrorists ne...
2    Videos #NoDAPL: Native American Leaders Vow to...
3    If at first you don’t succeed, try a different...
4    42 mins ago 1 Views 0 Comments 0 Likes 'For th...
Name: text, dtype: object

In [31]:
class BOW:
    # function to extract unnecessary word from sentence
    def extractWord(self, word):
        ignore = set(stopwords.words('english'))
        words = re.sub("[^\w]", " ", word).split()

        return ''.join(words).lower()
    
    # function to tokenize all the sentences in the dataset
    def tokenize(self, sentence):
        words = []

        sentence = sentence.split()
        for word in sentence:
            w = lemmatizer.lemmatize(self.extractWord(word))

            if w != '':
                words.append(w)

        return words
    
    # create bag of words
    def createBOW(self, dataframe):
        sentences = dataframe.astype(str)
        bow = [{} for _ in range(len(sorted(list(set(sentences)))))]

        for i, sentence in enumerate(sentences):
            words = sorted(self.tokenize(sentence))
            
            for word in words:
                if word not in bow[i].keys():
                    bow[i][word] = 1
                else:
                    bow[i][word] += 1
                    
            clear_output(wait=True)
            print(f'Creating Bag Of Words: {i + 1}/{len(bow)}')
                    
        return bow
    
    def __init__(self, dataset):
        self.data = self.createBOW(dataset)

In [ ]:
print("Train: ")
trainBOW = BOW(trainDataset)

print("Test:")
testBOW = BOW(testDataset)

Creating Bag Of Words: 197/20387

In [23]:
trainBOW = pd.DataFrame(trainBOW.data)
testBOW = pd.DataFrame(testBOW.data)

In [24]:
trainBOW

,2012,2016,28,30,30something,78,a,ablaze,about,abusive,...,six,stated,stoned,stoning,unit,warrant,watched,wife,without,written
0,1.0,2.0,1.0,1.0,1.0,1.0,23,1.0,7.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2.0,NaN,NaN,NaN,NaN,28,NaN,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,1.0,NaN,NaN,NaN,NaN,37,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,1.0,NaN,NaN,NaN,19,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN,3.0,NaN,...,1.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,2.0