In [65]:
import re
import pandas as pd
import heapq
from IPython.display import clear_output

import nltk

# import lemmetizer modules
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

# get set of stopwords
from nltk.corpus import stopwords

In [66]:
# importing train dataset into a dataframe

trainDataset = pd.read_csv("Dataset/train.csv")["text"]
trainDataset.dropna(inplace = True)
trainDataset.reset_index(drop = True, inplace = True)

In [ ]:
# importing test dataset into a dataframe

testDataset = pd.read_csv("Dataset/test.csv")["text"]
testDataset.dropna(inplace = True)
testDataset.reset_index(drop = True, inplace = True)

In [63]:
class BOW:
    # function to extract unnecessary word from sentence
    def extractWord(self, word):
        ignore = set(stopwords.words('english'))
        words = re.sub("[^\w]", " ", word).split()
        words = ''.join(words).lower()
        
        if words in ignore:
            return ''
        
        return words
    
    # function to tokenize all the sentences in the dataset
    def tokenize(self, sentence):
        words = []

        sentence = sentence.split()
        for word in sentence:
            w = lemmatizer.lemmatize(self.extractWord(word))

            if w != '':
                words.append(w)

        return words
    
    # create bag of words
    def createBOW(self, dataframe):
        bow = [{} for _ in range(len(dataframe))]

        for i, sentence in enumerate(dataframe):
            words = sorted(self.tokenize(sentence))
            
            for word in words:
                if word not in bow[i].keys():
                    bow[i][word] = 1
                else:
                    bow[i][word] += 1
                    
            clear_output(wait=True)
            print(f'Creating Bag Of Words: {i + 1}/{len(bow)}')
                    
        return bow
    
    def __init__(self, dataset):
        self.data = self.createBOW(dataset)

In [ ]:
trainBOW = BOW(trainDataset)

In [ ]:
testBOW = BOW(testDataset)

In [ ]:
trainDF = pd.DataFrame(trainBOW.data)

In [ ]:
testDF = pd.DataFrame(testBOW.data)

In [ ]:
trainDF.to_csv('Dataset/BOW/train_bow.csv')

In [ ]:
testDF.to_csv('Dataset/BOW/test_bow.csv')

In [69]:
test = BOW(trainDataset.head())
pd.DataFrame(test.data)

Creating Bag Of Words: 5/5

,2012,2016,28,30,30something,78,ablaze,abusive,according,acting,...,six,stated,stoned,stoning,unit,warrant,watched,wife,without,written
0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,1.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,2.0