In [2]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

In [3]:
trainDataset = pd.read_csv("Dataset/train.csv")["text"]
trainDataset.dropna(inplace = True)
trainDataset.reset_index(drop = True, inplace = True)

In [4]:
testDataset = pd.read_csv("Dataset/test.csv")["text"]
testDataset.dropna(inplace = True)
testDataset.reset_index(drop = True, inplace = True)

In [13]:
vectorizer = CountVectorizer()

testBOW = vectorizer.fit_transform(testDataset.head(10))
trainBOW = vectorizer.fit_transform(trainDataset.head(10))

In [9]:
testDF = pd.DataFrame(testBOW.toarray())
trainDF = pd.DataFrame(trainBOW.toarray())

trainDF

,0,1,2,3,4,5,6,7,8,9,...,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289
0,0,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,4,0,2,1,0
2,0,0,0,1,1,0,1,0,1,0,...,0,1,0,2,0,6,0,0,0,0
3,0,0,0,0,1,4,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,...,1,1,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,3,0,0,0,0
7,0,1,0,0,0,0,0,0,0,0,...,0,1,0,1,0,3,4,1,0,2
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,19,1,7,0,0
9,1,1,1,0,0,0,0,0,0,0,...,1,4,0,0,2,1,0,0,0,0

In [14]:
testDF.to_csv('Dataset/BOW/train_bow.csv')
trainDF.to_csv('Dataset/BOW/test_bow.csv')

In [14]:
pd.DataFrame(testBOW.toarray())

,0,1,2,3,4,5,6,7,8,9,...,1661,1662,1663,1664,1665,1666,1667,1668,1669,1670
0,6,0,1,0,0,0,0,0,1,0,...,0,0,0,0,1,1,1,1,0,0
1,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,2,1,1,2,2,0,0,2,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,3,0
5,0,1,0,1,2,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,1,0,1
8,5,0,3,1,0,1,1,1,0,1,...,0,0,0,0,8,0,1,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0